packages:
  yum:
    postgresql92: []

commands:
  bash-completion:
    command: |
      yum --enablerepo=epel -y install bash-completion

      if ! [ -e /etc/bash_completion.d/docker ]; then
        DOCKER_VERSION="$(docker version --format '{{.Server.Version}}' | sed 's/-.*//')"

        curl -L "https://raw.githubusercontent.com/docker/cli/v${DOCKER_VERSION}/contrib/completion/bash/docker" -o /etc/bash_completion.d/docker
      fi

users:
  ec2-user:
    groups:
      - docker
      - ec2-user
      - wheel
