users:
  ec2-user:
    groups:
      - docker
      - ec2-user
      - wheel

packages:
  yum:
    # debugging/convenience
    postgresql92: []

commands:
  bash-completion:
    command: |
      yum --enablerepo=epel -y install bash-completion

      if ! [ -e /etc/bash_completion.d/docker ]; then
        DOCKER_VERSION="$(docker version --format '{{.Server.Version}}' | sed 's/-.*//')"

        curl -L "https://raw.githubusercontent.com/docker/cli/v${DOCKER_VERSION}/contrib/completion/bash/docker" -o /etc/bash_completion.d/docker
      fi

  setup_db-read:
    # (users key creates non-login users so create "manually")
    command: |
      useradd db-read

      mkdir -p /home/db-read/.ssh
      chmod 700 /home/db-read/.ssh

      cat << EOF > /home/db-read/.ssh/authorized_keys
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQCx8iingdGAZNRBJHBot9Sx5SVM0Dybnljg8ah6N7wNR06uVyd1iFup0q01LlDGFwXKuEe2nJJsuM399GA/2T9Dfid/8ZytB5t34blZa6AYlv12jlqWRc42jFla5y0qvNO2c3OlkQrP8m3zfBpMYReoKk/CT6xy2YJX8C49E8QhlzwFs+yt2mHQD76zAfpeSLRlIg9XY7+rsaMXfwAtadoI9/i8Wshx30qoLoSnf9e1rcXdUFdyvcIgn4ogJu50hk6GItqCvlLc1+T2OGGSES+Vb7RFrUjJSImm9D3FDnMxDwh5Om8LhF9mtq1FpZTDaHIctSvSyocuPY6KBOS+k3wL appy-reviews
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICAPaP75zCTCGGomM77xxdKay652SQzNOTw1E+t+FWXb pcasey@andrew.cmu.edu
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQC8UPy1GFFpDfbhbQmUl+cD+c59M3GHqqobuDeDMOSTm7t1ROc+yM/LPVsGHKO88r/HbzszwtlyI9sgoRGVGgXQBWvRMvyMY4B2hWOOIYolnMK3QafHCWux3/lXVXqjXF462dlTyEmoCVZ9C48VDN4L9Fxu/kaSTvw55zpxLSaGb8RKMEnsLxnMEcjP9b0jSDl0T9V3/lFxvJCy04Y1h6Zr1CUXQcJc55i1lww2FUqx/kGAPjjUR7PtawquIyi9pE4KcVLen/vlyXRE23fVl1ogLLrr0LI9FVqGGF5rIsV2FYi9cnftDfKT6uQXQdlMiaWenW6TYhAOmbj5CyeDGdLFYruKBFfD/h9EiDysZWCY/ewVGyOGMM9dDbVRkr4SWM0NnXCz0Mo8QORL+iLVBIhVbjFTopjwp/bQaYEqKua6aAPoTs8+7EvgNAeE8TcAAZCIQqkgZkmRQqC9c7H+zut/AsBkHQTUHe13c5+fpZk/aXkJGDvJR79jz4HBQiqBeU8= petercasey@Peters-MacBook-Air.local
      EOF

      chmod 600 /home/db-read/.ssh/authorized_keys

      chown -R db-read:db-read /home/db-read/.ssh
