files:
  /usr/local/bin/appy-run:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/sh
      name="$(docker ps --filter ancestor=aws_beanstalk/current-app --format "{{.Names}}" | tail -n 1)"
      if [ -z "$name" ]; then
        echo no container found
        exit 1
      fi
      docker exec ${APPY_RUN_OPTIONS} --user "${APPY_RUN_USER:-webapp}" "$name" $@

  /usr/local/bin/appy-manage:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/sh
      /usr/local/bin/appy-run ./manage.py $@

  /usr/local/bin/appy-report:
    mode: "000775"
    owner: root
    group: root
    content: |
      #!/bin/sh
      /usr/local/bin/appy-run \
        slack-report --channel appy \
        /usr/bin/time \
        annotate-output \
        ./manage.py $@
