{% extends "review/site.html" %}

{% block title %}
DSSG {{ program_year }} Application Reviews
{% endblock %}

{% block head %}
    <style>
        .clear {
            clear: both;
        }
        #look-up fieldset {
            border: dotted #c7c7c7 1px;
            padding: 2px;
            margin: 0;
        }
        #look-up input {
            border: 0;
            outline: none;
        }
        #look-up input[type=text] {
            width: 530px;
            float: left;
        }
        #look-up input[type=submit] {
            width: 50px;
            float: right;
        }
        #look-up-results {
            margin-top: 0.5em;
            border: dotted #c7c7c7 1px;
            height: 150px;
            overflow-y: auto;
        }
        #look-up-results > li {
            line-height: 2em;
            padding: 0 5px;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>DSSG {{ program_year }} Application Reviews</h2>

    <p>
        {% include "review/includes/submission-count-message.html" with count=review_count only %}
    </p>

    <p>
        <a href="{% url 'review-application' %}">
            {% if review_count == 0 %}
            Submit an application review
            {% else %}
            Review another application
            {% endif %}
        </a>
    </p>

    {% if interviews %}
    <h3>Your candidate interviews</h3>

    <dl id="interviews" class="formatted grad3 striped long-key short-width header">
        <dt>Candidate</dt>
        <dd>Recommendation</dd>
        <dd></dd>
        {% for interview in interviews %}
        <dt>{{ interview.application.applicant }}</dt>
        {% with interview.interview_review as review %}
        <dd>{% if review.overall_recommendation == 'only_if' %}only if &hellip;{% else %}{{ review.overall_recommendation|default:'–' }}{% endif %}</dd>
        {% endwith %}
        <dd>
            <a href="{% url 'review-interview' interview.pk %}" class="em-svg em-memo"></a>
        </dd>
        {% endfor %}
    </dl>
    {% endif %}

    <h3>Look up an application</h3>
    <form id="look-up" class="short-width">
        <fieldset>
            <input type="text" placeholder="enter applicant name or email">
            <input type="submit" value="search">
        </fieldset>
        <ul id="look-up-results" class="basic striped">
        </ul>
    </form>

    {% if reviews %}
    <h3>Your submitted application reviews</h3>

    <dl id="app-reviews" class="formatted grad3 striped long-key short-width header">
        <dt>Applicant</dt>
        <dd>Recommendation</dd>
        <dd></dd>
        {% for review in reviews %}
        <dt>{{ review.application.applicant }}</dt>
        <dd>{% if review.overall_recommendation == 'only_if' %}only if &hellip;{% else %}{{ review.overall_recommendation }}{% endif %}</dd>
        <dd>
            <a href="{% url 'review-application' review.application.pk %}" class="em-svg em-memo"></a>
        </dd>
        {% endfor %}
    </dl>
    {% endif %}

    <script type="text/javascript">
        (function (window) {
            'use strict';

            var form = window.document.getElementById('look-up'),
                textInput = form.querySelector('input[type=text]'),
                resultsList = window.document.getElementById('look-up-results'),
                loadingItem = window.document.createElement('li'),
                emptyItem = window.document.createElement('li');

            loadingItem.innerText = 'loading \u2026';
            emptyItem.innerText = 'no results';

            function clearResults () {
                var child;
                while (child = resultsList.firstChild) {
                    resultsList.removeChild(child);
                }
            }

            function handleResponse (response) {
                if (response.ok) return response.json();
                throw new Error("Bad response");
            }

            function handlePayload (payload) {
                clearResults();
                if (payload.results.length === 0) {
                    resultsList.appendChild(emptyItem);
                } else {
                    payload.results.forEach(handleResult);
                }
            }

            function handleResult (result) {
                var listItem = window.document.createElement('li'),
                    innerList = window.document.createElement('ul'),
                    labelItem = window.document.createElement('li'),
                    anchorItem = window.document.createElement('li'),
                    anchor = window.document.createElement('a');

                innerList.className = 'horizontal clear';

                labelItem.innerText = result.applicant__email;

                anchor.href = "{% url 'review-application' %}" + result.application_id + "/";
                anchor.className = "em-svg em-memo";
                anchorItem.appendChild(anchor);
                anchorItem.className = 'pull-right';

                innerList.appendChild(labelItem);
                innerList.appendChild(anchorItem);
                listItem.appendChild(innerList);
                resultsList.appendChild(listItem);
            }

            form.addEventListener('submit', function(evt) {
                var url,
                    queryTerm = textInput.value;

                evt.preventDefault();

                if (queryTerm) {
                    clearResults();
                    resultsList.appendChild(loadingItem);

                    url = '/application.json?q=' + queryTerm;

                    fetch(url, {
                        credentials: 'same-origin'
                    }).then(handleResponse).then(handlePayload);
                }
            });
        })(window);
    </script>
{% endblock %}
