{% extends "review/site.html" %}
{% load review %}

{% block title %}
{% include "review/includes/review-title.html" %}
{% endblock %}

{% block head %}
    <style>
        section {
            margin-bottom: 2em;
        }

        .review {
            background-color: #c0c0c0;
            border-spacing: 1px;
        }
        .review caption h3 {
            margin: 0 0 1em;
        }
        .review td {
            height: 50px;
        }
        .review td, .review th {
            padding: 0.4em;
        }

        .review-questions {
            background-color: white;
            text-align: left;
        }

        /* section review */

        #review {
            padding-right: 1em;
        }
        #review li {
            padding: 0.5em 0.5em 0 0;
        }
        #review label {
            font-weight: bold;
        }
        #review textarea {
            max-width: 100%;
            width: 100%;
        }
        #review input[type=submit] {
            font-size: x-large;
            font-weight: bold;
            border-radius: 5px;
            border-width: 1px;
            padding: 4px 10px;
            display: block;
            margin: auto;
            width: 100%;
        }
        #review fieldset {
            border: threedface 1px dotted;
            margin: 0;
            text-align: center;
        }
        #review fieldset legend {
            font-weight: bold;
        }
        #review fieldset ul {
            list-style: none;
            margin-left: 0.05em;
            padding: 0;
        }
        #review fieldset li {
            text-align: left;
        }

        #review fieldset legend.group-text {
            font-size: large;
        }
        #review li.field-group {
            margin-top: 1em;
            padding-right: 0;
        }

        @media screen and (min-width: 800px) {
            .column-content, .sidebar-scroll {
                margin-bottom: 0;
            }
            .sidebar-scroll {
                max-height: 100vh;
                overflow: auto;
            }
            .sidebar-scroll::-webkit-scrollbar {
                display: none;
            }
        }

        {% if review_type == 'interview' %}
        .column-rail-left {
            width: 400px;
        }
        @media screen and (min-width: 800px) {
            .column-container {
                padding-left: 420px;
            }
            .column-rail-left {
                margin-left: -420px;
            }
        }
        {% endif %}

        /* end review */

        /* section review ratings */

        .rating input[type=radio] {
            cursor: pointer;
            outline: none;

            height: 2em;
            width: 2em;
            display: inline-block;
            vertical-align: middle;

            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;

            -webkit-filter: brightness(1.1) grayscale(0.1) opacity(.9);
            -moz-filter: brightness(1.1) grayscale(0.1) opacity(.9);
            filter: brightness(1.1) grayscale(0.1) opacity(.9);
        }
        .rating input[type=radio]:hover {
            -webkit-filter: brightness(1) grayscale(0) opacity(1) !important;
            -moz-filter: brightness(1) grayscale(0) opacity(1) !important;
            filter: brightness(1) grayscale(0) opacity(1) !important;
        }
        .rating input[type=radio]:checked {
            -webkit-filter: none !important;
            -moz-filter: none !important;
            filter: none !important;

            border: black 1px solid;
            border-radius: 15px;
            /* FIXME: put "padding" between border and input/image */
        }
        .rating input[type=radio][value="0"] {
            background: url("https://twemoji.maxcdn.com/2/72x72/2753.png");
            background-image: url("https://twemoji.maxcdn.com/2/svg/2753.svg"),none;

            -webkit-filter: brightness(1.5) grayscale(0.5) opacity(.7);
            -moz-filter: brightness(1.5) grayscale(0.5) opacity(.7);
            filter: brightness(1.5) grayscale(0.5) opacity(.7);
        }
        .rating input[type=radio][value="-1"] {
            background: url("https://twemoji.maxcdn.com/2/72x72/1f44e.png");
            background-image: url("https://twemoji.maxcdn.com/2/svg/1f44e.svg"),none;
        }
        .rating input[type=radio][value="1"] {
            background: url("https://twemoji.maxcdn.com/2/72x72/1f44d.png");
            background-image: url("https://twemoji.maxcdn.com/2/svg/1f44d.svg"),none;
        }
        .rating input[type=radio][value="2"] {
            background: url("https://twemoji.maxcdn.com/2/72x72/1f64c.png");
            background-image: url("https://twemoji.maxcdn.com/2/svg/1f64c.svg"),none;
        }

        /* end review ratings */

        /* section application */

        #application h3 {
            border-bottom: grey 1px dotted;
            padding-bottom: 0.3em;
        }

        #application dl.formatted dt {
            padding-top: 0.7em;
            padding-bottom: 0.7em;
        }
        #application dl.formatted dd {
            padding-top: 0.7em;
            padding-bottom: 0.7em;
        }

        /* end application */
    </style>
{% endblock %}

{% block body %}
    <h1>{% include "review/includes/review-title.html" %}</h1>

    {# TODO: "to the top" link #}

    {% if review_type == 'application' %}
    <p>
        {% include "review/includes/submission-count-message.html" with count=review_count only %}
    </p>

    <h2>How to review</h2>

    <p>
        Review the <a href="#section-application">application</a> below, which consists
        of the applicant's submissions and as many as two <a href="#section-references">references</a>.
    </p>

    <p>
        Based on your review, complete the <a href="#section-review">review form</a>.

        {% if user.trusted %}
        You're a <strong>trusted</strong> reviewer; so, only the overall recommendation is required.
        {% else %}
        All parts of the review, except open text fields, are required.
        {% endif %}
    </p>

    <p>Keep in mind that 20% of applicants will move to the interview round.</p>

    {% elif review_type == 'interview' %}
    <h2>How to interview</h2>

    <p>
        Before the interview, review the questions in the <a href="#section-review">interview review form</a>.
    </p>

    <p>
        Structure your interview such that you'll be able to answer these questions afterwards.
    </p>

    <p>
        Then, based on your candidate interview, complete the form.
    </p>
    {% endif %}

    <h4>Ratings</h4>
    <dl class="formatted grad3 medium-width">
        <dt><i class="em-svg em-question"></i></dt>
        <dd><strong>Cannot Determine</strong></dd>
        <dd>
            Select this option only if you are unable to determine
            {% if review_type == 'application' %}from the application{% endif %}
            the applicant's aptitude with the given subject.

            {% if review_type == 'application' %}
            We will use this to focus the interview questions for the applicant.
            {% endif %}
        </dd>

        <dt><i class="em-svg em--1"></i></dt>
        <dd><strong>Inadequate</strong></dd>
        <dd>Below the necessary threshold for the given skill.</dd>

        <dt><i class="em-svg em---1"></i></dt>
        <dd><strong>Adequate</strong></dd>
        <dd>Meets the threshold for the skill.</dd>

        <dt><i class="em-svg em-raised_hands"></i></dt>
        <dd><strong>Exceptional</strong></dd>
        <dd>Significantly exceeds the threshold for the skill.</dd>
    </dl>

    {% if review_type == 'interview' and application_reviews %}
    <section>
        <h2>Application reviews</h2>
        <table id="application-reviews" class="review striped text-center">
            <caption>
                <h3>Your peers' reviews of this application</h3>
            </caption>
            <tr>
                <th rowspan="2">Reviewer</th>
                <th colspan="{{ rating_fields|length }}">Ratings</th>
                <th rowspan="2">Recommendation</th>
                <th rowspan="2">Comments</th>
                <th rowspan="2">Suggestions</th>
            </tr>
            <tr>
                {% for rating_verbose in rating_fields.values %}
                <th>{{ rating_verbose }}</th>
                {% endfor %}
            </tr>
            {% for review in application_reviews %}
            <tr class="serif">
                <td class="text-left">{{ review.reviewer }}</td>
                {% for rating_name in rating_fields %}
                <td>
                {% with review|lookup:rating_name as rating_value %}
                    {% include "review/includes/rating_emoji.html" %}
                {% endwith %}
                </td>
                {% endfor %}
                <td>{% if review.overall_recommendation == 'only_if' %}only if &hellip;{% else %}{{ review.overall_recommendation }}{% endif %}</td>
                <td class="text-left">
                    {{ review.comments|linebreaksbr }}
                </td>
                <td class="text-left">
                    {{ review.interview_suggestions|linebreaksbr }}
                </td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% endif %}

    {% if interview_reviews %}
    <section>
        <h2>Interview feedback</h2>
        <table id="interview-reviews" class="review striped text-center">
            <caption>
                <h3>Your peers' interviews of this candidate</h3>
            </caption>
            <tr>
                <th rowspan="2">Interviewer</th>
                <th colspan="{{ rating_fields|length }}">Ratings</th>
                <th rowspan="2">Recommendation</th>
                <th rowspan="2">Comments</th>
                <th rowspan="2">Ranking</th>
            </tr>
            <tr>
                {% for rating_verbose in rating_fields.values %}
                <th>{{ rating_verbose }}</th>
                {% endfor %}
            </tr>
            {% for review in interview_reviews %}
            <tr class="serif">
                <td class="text-left">{{ review.interview_assignment.reviewer }}</td>
                {% for rating_name in rating_fields %}
                <td>
                {% with review|lookup:rating_name as rating_value %}
                    {% include "review/includes/rating_emoji.html" %}
                {% endwith %}
                </td>
                {% endfor %}
                <td>{% if review.overall_recommendation == 'only_if' %}only if &hellip;{% else %}{{ review.overall_recommendation }}{% endif %}</td>
                <td class="text-left">
                    {{ review.comments|linebreaksbr }}
                </td>
                <td class="text-left">
                    {{ review.candidate_rank|linebreaksbr }}
                </td>
            </tr>
            {% if review.has_questions %}
            <tr>
                <th class="inline">Questions</th>
                <td class="review-questions" colspan="10">
                    <dl class="formatted serif striped grad2">
                        {% for question_name, question_text in interview_fields.items %}
                        <dt>{{ question_text }}</dt>
                        <dd>{{ review|lookup:question_name }}</dd>
                        {% endfor %}
                    </dl>
                </td>
            </tr>
            {% endif %}
            {% endfor %}
        </table>
    </section>
    {% endif %}

    <div class="column-container">
    <section id="section-review" class="column-rail-left sidebar-scroll sticky">
        <h2>{% if review_type == 'interview' %}Interview review{% else %}Review{% endif %}</h2>

        <form id="review" method="post" action="{{ request.path }}">
            {{ review_form.non_field_errors }}

            {% csrf_token %}

            <ul class="basic">
                {% for group_text, review_field_group in review_form.visible_field_groups %}
                    {% if group_text == None %}
                        {% for review_field in review_field_group %}
                            <li>
                            {% include "review/includes/review_form_field.html" with review_field=review_field only %}
                            </li>
                        {% endfor %}
                    {% else %}
                    <li class="field-group">
                        <fieldset>
                            <legend class="group-text">{{ group_text }}</legend>
                            <ul class="basic">
                            {% for review_field in review_field_group %}
                                <li>
                                {% include "review/includes/review_form_field.html" with review_field=review_field only %}
                                </li>
                            {% endfor %}
                            </ul>
                        </fieldset>
                    </li>
                    {% endif %}
                {% endfor %}
            </ul>

            {% for review_field in review_form.hidden_fields %}
                {{ review_field }}
            {% endfor %}

            <input type="submit" value="Submit Review">
        </form>
    </section>

    <section id="application" class="column-content">
        <h2 id="section-application">Application</h2>
        {% for page in application.applicationpage_set.all %}
        {% include "review/includes/surveyentry_detail.html" with surveyentry=page fieldspec=application_fields count=forloop.counter only %}
        {% empty %}
        (none)
        {% endfor %}

        <h2 id="section-references">References</h2>
        {% for reference in application.reference_set.all %}
        {% include "review/includes/surveyentry_detail.html" with surveyentry=reference fieldspec=application_fields count=forloop.counter only %}
        {% empty %}
        (none)
        {% endfor %}
    </section>
    </div>

    <script type="text/javascript">
        (function (window) {
            /* transform links to wufoo-uploaded documents to provide
             * options "download" and "view in google docs"
             */
            'use strict';

            var docLinks;

            docLinks = window.document
                        .querySelector('section.column-content')
                        .querySelectorAll('a[href^="https://datascience.wufoo.com/cabinet/"]');

            if (docLinks.forEach === undefined) {
                // some browsers like Internet Explorer don't support this ...
                // so forget about 'em
                return;
            }

            docLinks.forEach(function (anchor) {
                var viewerUrl = 'https://docs.google.com/viewer?url=' + anchor.href;

                anchor.innerHTML = "download";
                anchor.insertAdjacentHTML(
                    'afterend',
                    ' | ' +
                    '<a href="' + viewerUrl + '" rel="nofollow">view with google docs<a>'
                );
            });
        })(window);

        (function (window) {
            /* open in new window all links in application contents
             */
            'use strict';

            window.document
            .querySelector('section.column-content')
            .addEventListener(
                'click',
                function (evt) {
                    if (evt.target.tagName === 'A' && evt.target.href) {
                        evt.preventDefault();
                        window.open(evt.target.href);
                    }
                }
            );
        })(window);

        (function (window) {
            'use strict';

            /* start compatibility */
            var supportPageOffset = window.pageXOffset !== undefined,
                isCSS1Compat = ((window.document.compatMode || "") === "CSS1Compat");

            function windowScrollY () {
                return supportPageOffset ? window.pageYOffset
                        : isCSS1Compat ? window.document.documentElement.scrollTop
                        : window.document.body.scrollTop;
            }
            /* end compatibility */

            var minWidth = 800,
                bottomMargin = 5,
                sidebar = window.document.querySelector('section.sticky'),
                initialOffsetTop = sidebar.offsetTop;

            window
            .addEventListener(
                'scroll',
                function () {
                    var windowScroll = windowScrollY(),
                        windowOffsetBottom = this.innerHeight + windowScroll,
                        triggerOffsetBottom = initialOffsetTop + sidebar.offsetHeight + bottomMargin;

                    if (
                        this.innerWidth >= minWidth &&
                        windowScroll >= initialOffsetTop &&
                        windowOffsetBottom >= triggerOffsetBottom
                    ) {
                        sidebar.style.position = 'fixed';
                        sidebar.style.bottom = bottomMargin + 'px';
                    } else {
                        sidebar.style.position = '';
                        sidebar.style.bottom = '';
                    }
                },
                {
                    passive: true
                }
            );
        })(window);
    </script>
{% endblock %}
