{% extends "review/site.html" %}

{% block title %}
Review an application to DSSG {{ application.program_year }}
{% endblock %}

{% block head %}
    <style>
        /* section review */

        #review li {
            margin: 2px;
            padding: 5px;
        }
        #review label {
            font-weight: bold;
        }
        #review textarea {
            max-width: 90%;
        }
        #review input[type=submit] {
            font-size: x-large;
            font-weight: bold;
            border-radius: 5px;
            border-width: 1px;
            padding: 4px 10px;
        }

        /* end review */

        /* section application */

        #application h3 {
            border-bottom: grey 1px dotted;
            padding-bottom: 0.3em;
        }

        /* end application */

        /* section ratings */

        .rating {
            display: inline;
            width: 215px;
            border-width: 1px;
        }

        .rating legend {
            font-weight: bold;
        }

        /* :not(:checked) is a filter, so that browsers that don’t support :checked don’t 
        follow these rules. Every browser that supports :checked also supports :not(), so
        it doesn’t make the test unnecessarily selective */
        .rating:not(:checked) > input {
            position:absolute;
            top:-9999px;
            clip:rect(0,0,0,0);
        }

        .rating:not(:checked) > label {
            float:right;
            width:1em;
            padding:0 .1em;
            overflow:hidden;
            white-space:nowrap;
            cursor:pointer;
            font-size:200%;
            line-height:1.2;
            color:#ddd;
            text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
            font-weight: inherit;
        }

        .rating:not(:checked) > label:before {
            content: '★ ';
        }

        .rating > input:checked ~ label {
            color: #f70;
            text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating:not(:checked) > label:hover,
        .rating:not(:checked) > label:hover ~ label {
            color: gold;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating > input:checked + label:hover,
        .rating > input:checked + label:hover ~ label,
        .rating > input:checked ~ label:hover,
        .rating > input:checked ~ label:hover ~ label,
        .rating > label:hover ~ input:checked ~ label {
            color: #ea0;
            text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
        }

        .rating > label:active {
            position:relative;
            top:2px;
            left:2px;
        }

        /* end ratings */
    </style>
{% endblock %}

{% block body %}
    <h2>Review an application to DSSG {{ application.program_year }}</h2>

    <p>
        {% if review_count == 0 %}
        You haven't submitted any reviews for this year <i class="em-svg em-confused"></i>
        {% else %}
            {% include "review/includes/submission-count.html" with count=review_count only %}
        {% endif %}
    </p>

    <div class="column-container">
    <section class="column-rail-left">
        <h3>Enter your review</h3>

        <form id="review" method="post" action="{% url 'review-application' %}">
            {{ rating_formset.non_form_errors }}
            {{ review_form.non_field_errors }}

            {% csrf_token %}

            {{ rating_formset.management_form }}
            <ul class="basic">
                {% for rating_form in rating_formset %}
                <li>
                    {{ rating_form.non_field_errors }}
                    <fieldset class="rating">
                        <legend>{{ rating_form.score.label }}</legend>

                        {{ rating_form.score.errors }}

                        {# ensure that radio inputs are listed in *reverse*-value order for proper functioning of CSS stars #}
                        {% for score_option in rating_form.score|dictsortreversed:"choice_label" %}
                            {{ score_option.tag }}
                            <label for="{{ score_option.id_for_label }}">
                                {{ score_option.choice_label }}
                            </label>
                        {% endfor %}

                        {{ rating_form.label }}
                    </fieldset>
                </li>
                {% endfor %}

                {% for review_field in review_form.visible_fields %}
                <li>
                    {{ review_field.errors }}
                    {% if review_field.help_text %}
                    <label for="{{ review_field.id_for_label }}">{{ review_field.help_text }}</label>
                    {% else %}{{ review_field.label_tag }}
                    {% endif %}
                    {% if review_field.field.widget.input_type != 'checkbox' %}<br>{% endif %}
                    {{ review_field }}
                </li>
                {% endfor %}
            </ul>

            {% for review_field in review_form.hidden_fields %}
                {{ review_field }}
            {% endfor %}

            <input type="submit" value="Submit Review">
        </form>
    </section>

    <section id="application" class="column-content">
        <h3>Application</h3>
        {% for page in application.applicationpage_set.all %}
        {% include "review/includes/surveyentry_detail.html" with surveyentry=page fieldspec=application_fields count=forloop.counter only %}
        {% empty %}
        (none)
        {% endfor %}

        <h3>References</h3>
        {% for reference in application.reference_set.all %}
        {% include "review/includes/surveyentry_detail.html" with surveyentry=reference fieldspec=application_fields count=forloop.counter only %}
        {% empty %}
        (none)
        {% endfor %}
    </section>
    </div>

    <script type="text/javascript">
        (function (window) {
            'use strict';

            window.document
            .querySelector('section.column-content')
            .addEventListener(
                'click',
                function (evt) {
                    if (evt.target.tagName === 'A') {
                        evt.preventDefault();
                        window.open(evt.target.href);
                    }
                }
            );
        })(window);
    </script>
{% endblock %}
