{% extends "review/base.html" %}

{% block header_actions %}
    {% if user.is_authenticated %}
    <li class="hint-size">
        {% if user.first_name %}
        <span title="{{ user.email }}">{{ user.first_name }}</span>
        {% else %}
        {{ user.email }}
        {% endif %}

        {% if user.trusted %}
        <i title="Trusted User" class="em-svg em-tophat"></i>
        {% endif %}
    </li>
    {# <li><a href="{% url 'account_email' %}">Change E-mail</a></li> #}
    <li><a href="{% url 'account_logout' %}">Sign Out</a></li>
    {% else %}
    <li><a href="{% url 'account_login' %}">Sign In</a></li>
    <li><a href="{% url 'account_signup' %}">Sign Up</a></li>
    {% endif %}
{% endblock %}
