{# ported from allauth #}
{# allauth/templates/account/password_set.html #}
{% extends "review/site.html" %}

{% load i18n %}

{% block page_title %}{% trans "Set Password" %} | {% endblock %}

{% block head %}
    <style>
        form.password_set label {
            display: inline-block;
            width: 10em;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block body %}
    <h2>{% trans "Set Password" %}</h2>

    <form method="POST" action="{% url 'account_set_password' %}" class="password_set">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <input type="submit" name="action" value="{% trans 'Set Password' %}"/>
    </form>
{% endblock %}
